.button {
    white-space: nowrap;
    padding: 10px 12px;
    background: var(--purple);
    box-shadow: 0 1px 1px rgba(31, 41, 54, 0.12), 0 2px 6px rgba(110, 0, 255, 0.16);
    border-radius: 4px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}

.button:hover {
    background: var(--purpleDark);
}
