.heading {
  color: var(--primary);
  margin: 32px 0;
}

.heading2 {
  color: var(--primary);
  margin: 32px 0 16px;
}

.container {
  width: 100%;
}

.inviteContainer {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--grey3);
}
